@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap'); /* font-weights are 300, 400 and 600 */

body {
    margin: 0px;
}
:root {
    --hover-image-blue: #0091a0; 
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg-blue: hsl(217, 54%, 11%);
    --card-bg-blue: hsl(216, 50%, 16%);
    --line-blue: hsl(215, 32%, 27%);
    --font-size-para: 18px;
}

@media screen and (min-width: 0px) {
    #container {
        background-color: var(--main-bg-blue);
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #card-container {
        width: 250px;
        height: 420px;
        background-color: var(--card-bg-blue);
        border-radius: 10px;
        padding: 20px;
    }
    #image-container {
        width: 100%;
        height: 250px;
        border-radius: 10px;
        background-color: var(--hover-image-blue);
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(images/icon-view.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    #image-container img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    #image-container img:hover {
        mix-blend-mode: lighten;
        cursor: pointer;
    }
    #equilibrium-title {
        width: 52%;
        color: white;
        height: 20px;
        font-family: 'Outfit';
        font-weight: 600;
        font-size: 16px;
        margin-top: 15px;
    }
    #equilibrium-title:hover {
        color: var(--cyan);
        cursor: pointer;
    }
    #paragraph-text {
        width: 100%;
        height: 35px;
        color: #6a7e9a;
        font-family: 'Outfit';
        font-size: 15px;
        margin-top: 10px;

    }
    #eth-and-time-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    #eth {
        display: flex;
        align-items: center;
    }
    #eth-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #eth-text {
        font-family: 'Outfit';
        font-size: 14px;
        color: var(--cyan);
        font-weight: 600;
        margin-left: 5px;
    }
    #time {
        display: flex;
        align-items: center;
    }
    #time-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #time-text {
        margin-left: 5px;
        font-family: 'Outfit';
        font-size: 14px;
        color: #6a7e9a;
    }
    #footer {
        width: 100%;
        height: 25px;
        border-top: 1px solid #6a7e9a;
        margin-top: 20px;
        display: flex;
        padding: 5px 0px 0px 0px;
    }
    #white-background {
        height: 25px;
        width: 25px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(5px);
    }
    #white-background img {
        width: 95%;
        height: auto;
        border-radius: 50%;
    }
    #creator-text {
        margin-left: 15px;
        transform: translateY(10px); 
        display: flex;
    }
    #first-half {
        font-family: 'Outfit';
        font-size: 14px;
        color: #6a7e9a;
        font-weight: 600;
    }
    #second-half {
        font-family: 'Outfit';
        font-size: 14px;
        height: 15px;
        color: #6a7e9a;
        font-weight: 600;
        margin-left: 2px;
    }
    #second-half:hover {
        color: var(--cyan);
        cursor: pointer;
    }
}